#background {
    background-image: url("../../assets/images/route-bg.png");
    background-size: cover;
    /* height: auto;
    width: auto; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-gifts, app-gift-form {
    display: inline-block;
}

app-gift-form {
    float: right;
    margin-top: 295px;
    margin-right: 40px;
}