#background {
    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-gifts, app-gift-form {
    display: inline-block;
}

app-gift-form {
    float: right;
    margin-top: 275px;
    margin-right: 40px;
}