<div id="body">
    <nav>
         <ul>
            <li class="navlinks">
                <a routerLink="/">
                    <button>Home</button>
                </a>
            </li>
            <li class="navlinks">
                <a routerLink="/decorations">
                    <button>DIY Decorations</button>
                </a>
            </li>
            <li class="navlinks">
                <a routerLink="/gifts">
                    <button>Gift Ideas</button>
                </a>
            </li>
            <li class="navlinks">
                <a routerLink="/stocking-stuffers">
                    <button>Stocking Stuffers</button>
                </a>
            </li>
         </ul>
       </nav>
</div>
