<div class="container">
    <img src="../../assets/images/decorations-bg.png" alt="DIY Holiday Decorations" class="image">

    <div class="text">
        <h2 id="name">Mason Jar Snow Globes</h2>

        <h3>Materials:</h3>
        <div class="materials">
            <ul>
                <li>"Mason jars</li>
                <li>Miniature figurines</li>
                <li>Fake snow</li>
                <li>Glue</li>
                <li>Ribbon</li>
            </ul>
        </div>
        

        <h3>Directions:</h3>
        <p class="directions">
            Glue miniature figurines to the inside of the Mason jar lid. 
            Add fake snow to the jar. 
            Screw the lid back on. 
            Tie a festive ribbon around the jar's neck.
        </p>
    </div>
</div>

