<div class="container">
    <img src="../../assets/images/decorations-bg.png" alt="DIY Holiday Decorations" class="image">

    <div class="text" *ngFor="let decoration of decorations">
        <!-- <h2 id="name">{{decoration.name}}</h2> -->
        <h2 id="name">*Temporary* The below data is from API</h2>
        {{decoration.name}}
        {{decoration.materials}}
        {{decoration.directions}}

        <h3>Materials:</h3>
        <div class="materials">
            <p id="materialsDisplay">
                <!-- {{decoration.materials}} -->
            </p>
        </div>
        

        <h3>Directions:</h3>
        <p class="directionsDisplay">
            <!-- {{decoration.directions}} -->
        </p>
    </div>
</div>

