#background {
    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    position: relative;
    width: 300px;
    padding-bottom: 200px;
}

.image {
    margin-top: 50px;
    display: block;
    width: 245%;
    height: 900px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 165%;
    background-color: hsla(40, 60%, 70%, 0.7); /* Semi-transparent background */
    color: black;
    height: auto;
    box-sizing: border-box;
    margin-left: 120px;
    margin-top: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 65px;
    text-align: justify;
}

#name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3, p {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#itemImage {
    height: 350px;
    width: 500px;
    margin-top: 450px;
}

