<nav>
    <img src="../../assets/images/logo.png" alt="Christmas Planner" id="logo">

    <ul>
        <li class="navlinks">
            <a routerLink="/">Home</a>
        </li>
        <li class="navlinks">
            <a routerLink="/decorations">DIY Decorations</a>
        </li>
        <li class="navlinks">
            <a routerLink="/gifts">Gift Ideas</a>
        </li>
        <li class="navlinks">
            <a routerLink="/stocking-stuffers">Stocking Stuffers</a>
        </li>
    </ul>

</nav>

<router-outlet></router-outlet>
