.container {
    position: relative;
    width: 300px; /* Set the width of the container */
    padding-bottom: 200px;
}

.image {
    margin-top: 50px;
    display: block;
    width: 300%;
    /* height: 1200px; */
    height: 950px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 145%;
    background-color: hsla(40, 33%, 82%, 0.5); /* Semi-transparent background */
    color: black;
    height: auto;
    box-sizing: border-box;
    /* margin-top: 230px; */
    margin-top: 190px;
    margin-left: 230px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 75px;
    text-align: justify;
}

ul {
    /* padding-top: 50px; */
    padding-top: 30px;
    list-style-type: none;
}

li {
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding-bottom: 10px;
    font-size: 18px;
}

