.container {
    position: relative;
    width: 300px; /* Set the width of the container */
    padding-bottom: 200px;
}

.image {
    margin-top: 50px;
    display: block;
    width: 230%;
    /* height: auto; */
    height: 1000px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    background-color: hsla(40, 33%, 82%, 0.5); /* Semi-transparent background */
    color: black;
    height: auto;
    box-sizing: border-box;
    margin-top: 175px;
    margin-left: 170px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 65px;
    text-align: justify;
}

#name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3, p {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

