<div class="container">
    <img src="../../assets/images/santas-gift-list.png" alt="Santa's Gift List" class="image">
    

    <div class="text">
        <h2 id="name">Name</h2>

        <h3>Description:</h3>
        <div class="description">
            <p>
                background-size: cover makes the background image cover the entire viewport while maintaining its aspect ratio. It ensures that the image scales to fit the screen size. background-attachment: fixed fixes the background image in place, so it remains in the background as you scroll. background-position: center centers the background image both horizontally and vertically in the viewport. The margin and padding for the body are set to 0 to remove any default spacing. With this setup, your background image will stay fixed as you scroll through the content on your webpage, fitting the page while remaining responsive to different screen sizes.
            </p>
        </div>
    </div>
</div>

