<div class="container">
    <img src="../../assets/images/santas-gift-list.png" alt="Santa's Gift List" class="image">
    

    <div class="text">
        <h2 id="name">Homemade Scented Holiday Candles</h2>

        <h3>Description:</h3>
        <div class="description">
            <p>
                Craft scented candles with festive holiday scents like cinnamon, pine, and peppermint. 
                Add a personal touch with custom labels.
            </p>
        </div>
    </div>
</div>

