#background {
    background-image: url("../../assets/images/route-bg.png");
    background-size: cover;
    /* height: auto;
    width: auto; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-decorations, app-decoration-form {
    display: inline-block;
}

app-decoration-form {
    float: right;
    margin-top: 230px;
    margin-right: 50px;
}