<div class="container">
    <img src="../../assets/images/stockings-bg-solo2.png" alt="Santa's Stocking Stuffers" class="image">
    

    <div class="text">
        <h2 id="name">Homemade Peppermint Bark</h2>

        <h3>Description:</h3>
        <div class="description">
            <p>
                Create a delicious peppermint bark with layers of dark and white chocolate, sprinkled with crushed candy canes. 
                Package it in festive tins or bags.
            </p>
        </div>
    </div>
</div>

