.container {
    position: relative;
    width: 300px;
    padding-bottom: 200px;
}

.image {
    display: block;
    width: 820px;
    height: 1400px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    background-color: hsla(0, 67%, 91%, 0.7);
    color: black;
    height: auto;
    box-sizing: border-box;
    margin-top: 650px;
    margin-left: 250px;
    padding-right: 25px;
    padding-bottom: 50px;
    text-align: justify;
    border-color: white;
    border-radius: 50px;
    border-style: double;
    border-width: 10px;
}

ul {
    padding-top: 30px;
    list-style-type: none;
}

li {
    font-family: Comic Sans MS, Comic Sans, cursive;
    padding-bottom: 10px;
    font-size: 16px;
}

