#background {
    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-stocking-stuffers, app-stocking-stuffer-form {
    display: inline-block;
}

app-stocking-stuffer-form {
    float: right;
    margin-top: 550px;
    margin-right: 50px;
}