<div class="text">
    <h1>Christmas Village</h1>

    <h2>Materials:</h2>
    <ul>
        <li>Table or Surface: Choose a flat and stable surface for your village.</li>
        <li>Christmas Village Buildings: Purchase or create your miniature buildings.</li>
        <li>Miniature Figurines: Select people, animals, cars, and more.</li>

        <li>Scenic Materials:
            <ul>
                <li>Fake Snow or Cotton Battling: To create a wintry look.</li>
                <li>Miniature Trees: Small artificial trees for decoration.</li>
                <li>Tiny Street Lamps: Miniature lamps with LED lights.</li>
            </ul>
        </li>

        <li>Craft Glue or Putty: For securing buildings and figurines.</li>
        <li>Extension Cords: If your buildings have lights.</li>
        <li>Backdrop: Use a holiday-themed fabric or paper for the background.</li>
        <li>Optional Decorations: Lights, ribbons, ornaments, and wreaths.</li>
    </ul>

    <h2>Directions:</h2>
        <p>
            First, plan your layout by deciding where to set up your Christmas village. Lay out the buildings and figurines on the table to plan the layout, considering the positioning of buildings, streets, and open spaces. Next, clean and clear the surface where you're building the village. Spread fake snow or cotton batting to create a snowy base if desired.
        </p>
        
        <p>
            Secure the Christmas village buildings in place using craft glue or putty. Add the miniature figurines to your scene, placing people, animals, and other figurines near the buildings and on the streets to bring your village to life. Position miniature trees and street lamps around the village to add depth and detail.
        </p>
        
        <p>
            If the village buildings have lights, connect them to extension cords and ensure the cords are hidden. Use a backdrop behind the village scene to add depth and enhance the holiday atmosphere. Finally, enhance the festive look with additional decorations like holiday lights, ribbons, and ornaments. Turn on the lights to bring your Christmas village to life.
        </p>
</div>