<div id="background">
    <app-navbar></app-navbar>
    
    <div class="container">
        <img src="../../assets/images/gingerbread-mug.png" alt="Santa's Stocking Stuffers" class="image">

        <div class="text">
            <h2 id="name">
                {{stockingStufferItem.name}}
            </h2>

            <h3>Description:</h3>
            <div class="description">
                <p>
                    {{stockingStufferItem.description}}
                </p>
            </div>
        </div>

        <div id="picDiv">
            <img src="{{stockingStufferItem.image}}" alt="" id="itemImage">
        </div>
    </div>
</div>
