#background {
    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 300px;
    padding-bottom: 200px;
}

.image {
    margin-top: 50px;
    display: block;
    width: 300%;
    /* height: auto; */
    height: 1200px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 145%;
    background-color: hsla(40, 33%, 82%, 0.5); /* Semi-transparent background */
    color: black;
    height: auto;
    box-sizing: border-box;
    margin-top: 230px;
    margin-left: 230px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 75px;
    text-align: justify;
}

#name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3, p {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

