#background {
    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 350px;
    padding-bottom: 200px;
}

.image {
    margin-top: 50px;
    display: block;
    width: 300%;
    margin-left: 100px;
    height: 1200px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    background-color: hsla(0, 100%, 50%, 0.7); /* Semi-transparent background */
    color: white;
    height: auto;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 800px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 75px;
    text-align: justify;
    border-color: white;
    border-radius: 50px;
    border-style: double;
    border-width: 10px;
}

#name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3, p {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

