#background {
    background-image: url("../../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container {
    display: flex;
    position: relative;
    width: 350px;
    padding-bottom: 200px;
}

.image {
    margin-top: 50px;
    display: block;
    width: 220%;
    margin-left: 20px;
    height: 900px;
    position: relative;
    z-index: 1;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    background-color: hsla(0, 100%, 50%, 0.7); /* Semi-transparent background */
    color: white;
    height: auto;
    box-sizing: border-box;
    margin-top: 520px;
    margin-left: 820px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 75px;
    text-align: justify;
    border-color: white;
    border-radius: 50px;
    border-style: double;
    border-width: 10px;
}

#name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3, p {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#itemImage {
    height: 430px;
    width: 500px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
    left: -100px;
    border: 10px double white;
    border-radius: 50px;
}

